<!-- <app-signin-signup></app-signin-signup> -->
<header class="header">
    <a href="#" class="logo">Developer</a>
    <nav class="nav-items">
      <a href="#">Home</a>
     <button class="btn btn-lg btn-outline-primary" (click)="openSignUp()">SignUp</button>
     <button class="btn btn-lg btn-outline-primary" (click)="openSignIn()">SignIn</button>
    </nav>
  </header>
  <main>
    <div class="intro">
      <h1>A Web Developer</h1>
      <p>I am a web developer and I love to create websites.</p>
      <button>Learn More</button>
    </div>
  
  </main>
  <footer class="footer">
    <div class="copy">© 2022 Developer</div>
    <div class="bottom-links">
      <div class="links">
        <span>More Info</span>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </div>
      <div class="links">
        <span>Social Links</span>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </footer>